.product {
    margin-bottom: 20px;
  }
  .product img {
    height: 176px;
  }

  .product .img-container {
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: block;
  }
  .product .img-container .img-options {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: none;
  }
  .product:hover .img-options {
    opacity: 1;
    visibility: visible;
  }
  .product .img-container .img-options-content {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    text-align: center;
  }
  .product .price {
    color: #47bac1;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
  }
  .product .item-title {
    font-size: 18px;
    color: #646464;
    line-height: 2;
  }