.shopping-cart {
  height: 100%;
}
:global(.cart-item) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
  padding: 20px 50px 0 125px;
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #4a4a4a;
}
:global(.cart-item a) {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  color: #4a4a4a;
  text-decoration: none;
}
:global(.cart-item a.remove-item) {
  position: absolute;
  top: 20px;
  right: 30px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
:global(.cart-item img) {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 100px;
  width: 100px;
  height: 100px;
}
:global(.cart-item .quantity) {
  padding-bottom: 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.35);
}
.shopping-cart .total-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.shopping-cart .checkout-btn {
  width: 100%;
}

footer p {
  color: #aeaeae;
  font-size: 13px;
}
.social-icon a {
  background: #1ab394;
  color: #fff;
  padding: 4px 8px;
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 50px;
  font-size: 13px;
}
.contact {
  background-image: url('../../assets/images/world_map.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
