.navbar-scroll {
  background-color: #fff;
  border-color: #fff;
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e7eaec;
  border-radius: 0;
}
.navbar-scroll .top-bar.no-hide {
  display: block;
}
.navbar-scroll > .active > a:focus {
  background: transparent;
  color: inherit;
}
.navbar-scroll .menu .navbar-nav .nav-item > a.nav-link,
.navbar-scroll .menu .navbar-nav .nav-item.active > a.nav-link {
  color: #676a6c;
}
.navbar-scroll .menu .navbar-nav .nav-item a.nav-link:hover {
  color: #1ab394;
}
.navbar-scroll .navbar-nav > li > a {
  padding: 20px 10px;
}
.navbar.navbar-scroll .navbar-brand {
  margin-top: 15px;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  height: auto;
}

.navbar-brand:hover,
.navbar-brand:focus {
  background: #17a185;
  color: #fff;
}
.navbar-brand {
  color: #fff;
  height: auto;
  display: block;
  font-size: 14px;
  background: #1ab394;
  padding: 15px 20px 15px 20px;
  border-radius: 0 0px 5px 5px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
}

:global(.nav-item > .nav-link) {
  color: #fff;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
:global(.nav-link) {
  padding-top: 25px;
  border-top: 6px solid transparent;
}
:global(.nav-item.active > .nav-link, .nav-item.active > .nav-link:hover) {
  background: transparent;
  color: #fff;
  border-top: 6px solid #1ab394;
}
:global(.nav-item > .nav-link:hover) {
  color: #1ab394;
}
:global(.active > a:focus) {
  background: transparent;
  color: #fff;
}

.top-bar {
  min-height: 36px;
}
.top-bar ul li a {
  padding: 0 19px;
  line-height: 35px;
  font-size: 14px;
  color: #ffffff;
}
.cart a {
  font-size: 12px;
  display: inline-block;
  background-color: #1dc5a3;
  line-height: 35px;
  min-height: 36px;
  font-size: 14px;
  color: #ffffff;
}
.cart .item-number {
  font-weight: 800;
}
.account-login small {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
}
