.checkout-section .form-horizontal .form-group {
  margin: 0;
  margin-bottom: 8px;
}
.order-panel {
  border: 1px solid #ddd;
  min-height: 500px;
}
.order-panel .total-section span {
  font-size: 18px;
  font-weight: 500;
}
.order-panel .checkout-btn {
  width: 100%;
}
.checkout-section :global(.form-group label) {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
